
.first-menu > li {
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    padding-left: 40px;
    margin-bottom: 10px;

    color: #d5e8f9;
}

.first-menu > li:hover {
    background-color: #E9F2FC;
    cursor: pointer;
    color: #1f7ed0;
}
.first-menu > li > img:nth-child(2){
    width: 12px;
    height: 12px;
    left: 20px;
    position: absolute;
    z-index: 2;
    margin-top: 15px;
}
.first-menu > li > img:first-child{
    position: absolute;
    /*top:4px;*/
    left: 16px;
    z-index: 1;
    margin-top: 12px;
}

.second-menu {
    z-index: 7;
    position: absolute;
    left: 170px;
    padding-left: 20px !important;
    width: 482px;
    top: 53px;
    color: #FF8762;
    display: none;
    background-color: #E9F2FC;
    font-size: 14px;
    height: 500px;
    overflow: auto;
}

.second-menu > li > span,.second-menu > li > i{
    color: #FF8762;
    padding-left:5px;
}

.second-menu > li {
    width: 100%;
    overflow: hidden;
}

.second-menu:hover {
    cursor: default;
}

.three-menu {
    /*margin-top: 5px !important;*/
    overflow: hidden;
    border-top:1px solid #FF8762;
    width:95%;
}

.three-menu > li {
    font-size: 12px;
    color: #0a0a0a;
    display: block;
    margin-left: 20px;
    width: 25%;
    float: left;
    height: 16px;
    line-height: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
}
.three-menu > li:last-child{
    margin-bottom: 15px;
}

.three-menu > li i{
    color:#1e7fd0;
    padding-right:5px;
}

.three-menu a{
    line-height: 16px;
    text-decoration: none;
    color: #666666;
}
.three-menu a:hover{
    color:#0055aa;
}